<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.pequet.dlssyncdrives</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/dls-sync-drives.sh</string>
    </array>
    <key>StartInterval</key>
    <!-- Run every 7200 seconds (2 hours) -->
    <integer>7200</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.pequet.dlssyncdrives.err</string>
    <key>StandardOutPath</key>
    <string>/tmp/com.pequet.dlssyncdrives.out</string>
</dict>
</plist> 